.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: #0d1343;
    transition: 1s all ease;
    .logo2 {
        background-image: url("/dist/img/logo.png");
        width: 170px;
        height: 110px;
        position: relative;
        left: 25px;
        top: 18px;
        @media (orientation: landscape) and (max-width: 800px) {
            top: 10px;
        }
    }
    .hamburger2 {
        position: absolute;
        top: 70px;
        right: 30px;
        i {
            color: white;
            font-size: 25px;
            &:hover {
                color: #898a95;
                cursor: pointer;
            }
        }
    }
    nav {
        ul {
            margin-top: 50px;
            margin-left: 50px;
            @media (orientation: landscape) and (max-width: 800px) {
                margin-top: 0;
            }
            li {
                list-style: none;
                margin-bottom: 30px;
                @media (orientation: landscape) and (max-width: 800px) {
                    margin-bottom: 15px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: #898a95;
                    }
                }
            }
        }
    }
}

.active {
    transform: translateX(0px);
}

.inactive {
    transform: translateX(-250px);
}
