.testimonials {
    position: relative;
    top: 50px;
    background-color: #eee;
    padding-bottom: 100px;
    .testimonials-header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        &::after {
            content: url("/Assets/img/shape.png");
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 38px;
        }
        p {
            font-size: 2em;
            text-transform: uppercase;
            &::before {
                content: "";
                border-bottom: 2px solid #00aaef;
                position: absolute;
                bottom: -5px;
                left: -2px;
                width: 110px;
                height: 10px;
            }
            &::after {
                content: "";
                border-bottom: 2px solid #00aaef;
                position: absolute;
                bottom: -5px;
                right: -2px;
                width: 110px;
                height: 10px;
            }
        }
    }
    @mixin testimonial {
        position: relative;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 1000px) {
            width: 320px;
        }
        margin-bottom: 70px;
    }
    @mixin photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    @mixin before {
        &::before {
            font-family: Georgia, serif;
            content: "\201C";
            font-size: 8em;
            position: absolute;
            left: 8px;
            top: 28px;
            @media (min-width: 1000px) {
                left: 35px;
            }
        }
    }
    @mixin photo-description {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        span {
            display: block;
            font-style: italic;
            color: #b8b8bb;
        }
    }
    @mixin quote {
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        width: 270px;
        @media (min-width: 1000px) {
            margin-top: 25px;
        }
    }
    .testimonials-content {
        background-color: #eee;
        position: relative;
        text-align: center;
        top: 100px;
        display: flex;
        flex-direction: column;
        @media (min-width: 1000px) {
            flex-direction: row;
        }
        .testimonial-one {
            @include testimonial;
            .photo {
                img {
                    @include photo;
                }
                @include before;
            }
            .photo-describtion {
                @include photo-description;
            }
            .quote {
                p {
                    @include quote;
                }
            }
        }
        .testimonial-two {
            @include testimonial;
            .photo {
                img {
                    @include photo;
                }
                @include before;
            }
            .photo-describtion {
                @include photo-description;
            }
            .quote {
                p {
                    @include quote;
                    @media (min-width: 1000px) {
                        width: 320px;
                    }
                }
            }
        }
        .testimonial-three {
            @include testimonial;
            .photo {
                img {
                    @include photo;
                }
                @include before;
            }
            .photo-describtion {
                @include photo-description;
            }
            .quote {
                p {
                    @include quote;
                }
            }
        }
    }
}